:root {
    --app-header-height: 48px;
    --app-footer-height: 48px;

    --primary-color: #e70012;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

.layout-enter-active ,
.layout-leave-active {
  transition: all 0.1s ease-out;
  transition: all 0.4s;
}
.layout-enter-from,
.layout-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}